<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='public/stylesheets/style.css' />
  </head>
  <body>
    <h1 style = "position:relative; left:405px; top:2px;"><%= title %></h1>
    <p style = "position:relative; left:400px; top:2px;">Jeevan is awesome </p>
    <iframe src="https://i.simmer.io/@SuryaG/zombiehorde" style=" width:100%;height:800px;Border:0;"></iframe>
  </body>
</html>
